div{
  display: inline;
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
  padding:5px;
  width: 200px;
  margin: 20px auto;
}
.bloque1,.bloque3{
  background: #FFC300;
}
.bloque2{
  background: #E74C3C;

}
body{
  display: block;
  text-align: center;
}
