div{
  display: inline-block;
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
  padding-bottom:30px;
  padding-top: 5px;
  padding-left: 5px;
  width: 160px;
  height: 50px;
  margin: 20px auto;
}
.bloque1,.bloque3{
  background: #FFC300;
}
.bloque2{
  background: #E74C3C;

}
body{
  display: block;
  text-align: center;
}
